body{
background-color: #071138;
margin: 0px;
padding: 0px;
}
.form{
margin: 20px;
padding: 20px;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
justify-content: center;
}
.form .form-input form input{
margin: 10px;
padding-left: 20px;
padding-right: 20px;
width: 350px;
height: 45px;
border: none;
border-radius: 20px;
background-color: #f5f6fa;
outline-style: none;
}
.form .form-input form select{
                    margin: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    width: 350px;
                    height: 45px;
                    border: none;
                    border-radius: 20px;
                    background-color: #f5f6fa;
                    outline-style: none;
}
.form-input{
background-color: #0b2cb3;
border: 2px #071138 solid;
justify-content: center;
margin: auto;
padding: 100px;
box-shadow: #071138 2px 5px ;
border-radius: 20px;
}
.form .form-text h1{
color: #f7f7f7;
font-size: 70px;
text-transform: uppercase;
text-align: center;
font-weight: 700;
font-family: 'Roboto Condensed', sans-serif;
}
.form .form-text h2{
                    color: #f7f7f7;
                    font-size: 30px;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 500;
                    font-family: 'Roboto Condensed', sans-serif;
} 
.form .form-text h5{
                    color: #f7f7f7;
                    font-size: 20px;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 700;
                    font-family: 'Roboto Condensed', sans-serif;
                


                    }
.form .form-input button{
background-color: #0b2cb3;
color: #f5f6fa;
padding: 10px;
font-size: 20px;
padding-left: 50px;
padding-right: 50px;
border: 1px solid #294feb ;
border-radius: 20px;
margin-left: 80px;
margin-top: 20px;
justify-content: center;
}
.form .form-text h4{
color: #ffffff;
font-size: 250px;
text-align: center;
}
.form .form-input h1{
text-align: center;
font-size: 100px;
color: #ff2929;
}
@media (max-width:648px) {
  .form .form-text h1{
font-size: 30px;
  }
  .form .form-text h2{
                    font-size: 20px;
  }
  .form .form-text h4{
font-size: 100px;
  }
  .form .form-text h5{
font-size: 15px;
  }
  .form .form-input h1{
font-size: 50px;
  }
  .form .form-input {
margin: 5px;
padding: 3px;
padding-bottom: 20px;
  }
  .form .form-input form input{
 width: 300px;
 margin-left:30px ;
  }
  .form .form-input form select{
                    width: 300px;
                    margin-left:30px ;
                     }
}
