.signin{
    background-image: url('book-removebg-preview.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FEF0EF;
}
.signin-card{
    width: 400px;
    height: 400px;
    /* margin-left: 100px; */
    background: rgba( 255, 255, 255, 0.6 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.github{
    /* color: black !important; */
    background-color: black !important;
    border-color: black !important;
}

.github:hover{
    color: black !important;
}
.facebook{
    /* color: black !important; */
    background-color: #4267B2 !important;
    border-color: #4267B2 !important;
}

.facebook:hover{
    color: #4267B2 !important;
}









@media only screen and (max-width:480px) {
    .signin{
        background-size: auto;
        height: 420px;
        background-size: cover;

    }
    .signin-card{
        margin: 20px;
    }
}