.lesson-div{
  /* background-color: #efeff6; */
}
.video_player {
}

.list-group {
  height: 420px;
  
}
.list-group-item {
  font-weight: 700 !important;
  background: none !important;
  color: white !important;
  margin-bottom: 3px;
  border-radius: 15px !important;
  border-width: 0 0 1px 0 !important;
  background-color: #FE1A00 !important;
}
.list-group-item:hover {
  color: #FE1A00 !important;
  background-color: #FEF0EF !important;
  border: 2px solid #FE1A00 !important;
}
.list-group-item:focus {
  color: #FE1A00 !important;
  background-color: #FEF0EF !important;
  border: 2px solid #FE1A00 !important;
}

.lesson-title{
  color: black !important;
}

@media only screen and (max-width:480px){
  iframe{
      height: 220px !important;
  }
}
@media only screen and (min-width:480px)and(max-width:920px){
  iframe{
    width: 100% !important;
      /* height: 220px !important; */
  }
}