.col a {
    text-decoration: none !important;
    color: black;
}
.col a:hover {
    /* text-decoration: none !important; */
    color: white;
}

.card:hover .image-div-1,
.image-div-2,
.image-div-3 {
    background-color: white;
}

.card-1 {
    background-color: #fef3e8 !important;
}
.card-1:hover {
    background-color: #fea04d !important;
}
.card-1:hover .image-div-1 {
    background-color: white !important;
}
.card-2 {
    background-color: #ddf7ff !important;
}
.card-2:hover {
    background-color: #3e75f6 !important;
}
.card-2:hover .image-div-2 {
    background-color: white !important;
}
.card-3 {
    background-color: #e6faea !important;
}
.card-3:hover {
    background-color: #4dfe9a !important;
}

.card-3:hover .image-div-3 {
    background-color: white !important;
}

.image-div-1 {
    width: 90px !important;
    height: 90px !important;
    border-radius: 50%;
    background-color: #fae0d0 !important;
}
.image-div-2 {
    width: 90px !important;
    height: 90px !important;
    border-radius: 50%;
    background-color: #bbf0ff !important;
}
.image-div-3 {
    width: 90px !important;
    height: 90px !important;
    border-radius: 50%;
    background-color: #cef6d6 !important;
}

/* <Card.Text className="fs-5">
Learn your skill development topics with a lot of experienced
and skilled teacher with fun and enjoy.
</Card.Text> */
