.header{
    background-color: #FEF0EF;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: xx-large !important;
    font-weight: bolder;
}
.btn{
    background-color: #F56962!important;
    border: none !important;
}


.btn:hover {
	background-color:#fe1a00 !important;
	/* background-color:#FF6584 !important; */
    box-shadow: 2px 3px 15px #F56962;
}
