.single-blog{
    /* border: 2px solid crimson; */
    width: 90% !important;

}

.single-blog img{
    width: 50rem;
}



@media only screen and (max-width: 520px) {
    .single-blog img{
        width: 100% !important;
    }
    .single-blog{
        /* margin: 0 300px !important; */
        width: 100% !important;
    }
    /* .container{
        width: 100% !important;
    } */
  }