.single-blog{
    /* border: 2px solid crimson; */
    width: 90% !important;
    height: 40rem !important;
}

.single-blog img{
    width: 40rem;
}



@media only screen and (max-width: 520px) {
    .single-blog img{
        width: 80% !important;
    }
    .single-blog{
        margin: 20px 10px !important;
        width: 100% !important;
    }
    .container{
        width: 95% !important;
    }
  }