.footer{

    background-color: #FEF0EF;
}

.footer-right{
    border-left: 3px solid #FE1A00;
}

.footer h3{
    color: #231834;
}
.footer-left{
    width: 680px !important;
}

.footer .footer-left strong{
    color: #FE1A00;
}