.home-testimonial {
    background-color: #231834;
    /* height: 380px */
}

.home-testimonial h2 {
    color: white;
    font-size: 28px;
    font-weight: 700
}

.home-testimonial .card{
    color: #8483A2 !important;
    height: 350px !important;
}
.home-testimonial .card img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
