<!doctype html>
<html>
<head>
<!-- লিংক এখানে শুরু  -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
                    <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- লিংক এরিয়া এখানে শেষ  -->
  <title>Ace of science login form </title>
</head>
<body>
<!------------- ফরম এখান থেকে শুরু  ---------------------->
 <div class="form-area">
                     <!-- ফরম টেক্সট শুরু  -->
      <div class="form-text-side">
         <h1><i class="fas fa-rocket animate-bounce"></i></h1> <br>
         <h2> ACE of science </h2>
         <h3 >Feel free to learn,spread what you have learned </h3>
         <button class="shadow-2xl">  আপনার অ্যাকাউন্ট নেই ? অ্যাকাউন্ট তৈরি করুন<i class="fas fa-fighter-jet"></i></button>
      </div>  
      
      <!-- ফরম টেক্সট শেষ এখানে  -->
      
      <!-- ফরম ইনপুট গুলো শুরু -->
      <div class="form-input-side">
         <form action="post">
                   <h1><l class="fas fa-globe-asia animate-spin  animate-bounce"></l></h1>
                   <i class="far fa-user"></i> <input type="text"  placeholder="আপনার নাম লিখুন "> <br>
                   <i class="far fa-envelope"></i> <input type="email" placeholder="আপনার ইমেইল লিখুন"> <br>
                   <i class="fas fa-key"></i> <input type="password" placeholder="আপনার পাসওয়ার্ড লিখুন"><br>

         <button class="shadow-2xl">লগইন</button> <br>
       
         </form>
      </div>   
      <!-- ফরম ইনপুট গুলো এখানে শেষ -->        
 </div>
 <!---------------- ফরম এখানে শেষ  ----------------------------------->
</body>
</html>