body{
background-color: rgb(5, 6, 48);
margin: 0px;
padding: 0px;
}
.form-area{
padding-bottom: 100px;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
background-color: #04073b;
margin: 50px;
border-radius: 20px;
box-shadow:#040735 2px 5px 5px 5px;
}
.form-area .form-text-side{
margin: 10px;
padding: 10px;
}
.form-area .form-text-side h1{
color: rgb(238, 52, 52);
font-size: 150px;
text-align: center;
}
.form-area .form-text-side h2{
color: #ffff;
font-size: 50px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
font-family: 'Roboto', sans-serif;
}
.form-area .form-text-side h3{
 color: hsl(0, 100%, 98%);
 font-size: 30px;
 text-transform: capitalize;
 text-align: center;
 font-weight: 500;
font-family:'Ubuntu', sans-serif;
}
.form-area .form-text-side button{
margin-top: 50px;
  color: hsl(0, 100%, 98%);
 font-size: 20px;
  text-transform: uppercase;
margin-left: 50px;
margin-right: 50px;
   font-weight: 400;
   background-color:#1356e8;
 
   padding-top: 10px;
   padding-right: 20px;
   padding-left: 20px;
   padding-bottom: 10px;
   border-radius: 20px;
  font-family:'Ubuntu', sans-serif;
  border: none;
 }
 .form-area .form-text-side button:hover{
transition: 1s;
color: rgb(50, 110, 240);
background-color: #fff;
 }

.form-area .form-input-side{
justify-content: center;
justify-items: center;
background-color: rgb(47, 67, 241);
margin: 10px;
border: none;
padding: 10px;
padding-bottom: 200px;
justify-content: center;
border-radius: 20px;
box-shadow: 2px 2px 4px 3px rgb(9, 3, 31);
}
.form-area .form-input-side form input{
margin:10px;
padding: 5px;
justify-self: center;
margin-left: 110px;
text-align: center;
padding-left: 10px;
padding-top:10px ;
padding-bottom: 10px;
border:none;
background-color: rgb(252, 252, 252);
width: 380px;
outline-style: none;
font-family: sans-serif;
font-size: 20px;
color: rgb(5, 5, 15);
border-radius: 30px;
}
.form-area .form-input-side form h1{
color: rgb(50, 143, 250);
font-size: 100px;
text-align: center;
}
.form-area .form-input-side form button{
 margin-top: 50px;
 color: hsl(0, 100%, 98%);
 font-size: 20px;
 text-transform: uppercase;
text-align: center;
 font-weight: 400;
 padding-left: 150px;
 padding-right: 150px;
 padding-top: 10px;
 padding-bottom:10px;
 background-color:#1356e8;
border-radius: 20px;
font-family:'Ubuntu'sans-serif;
 border: none;
 margin-left: 150px;
}
.form-area .form-input-side button:hover{
                    transition: 1s;
                    color: rgb(50, 110, 240);
                    background-color: #fff;
                     }

              
@media (max-width:648px) {
  .form-area .form-text-side h1{
font-size: 90px;

  }
  .form-area .form-text-side h2{
font-size: 30px;

  }
  .form-area .form-text-side h3{
font-size: 20px;
 
  }
  .form-area .form-text-side button{
font-size: 15px;
padding-left: 2px;
padding-right: 2px;
  }
  .form-area {
margin: 7px;

  }

.form-area .form-input-side form input{
font-size: 15x;
width: 350px;
margin-left: 10px;
}
.form-area .form-input-side form h1{
font-size: 80px;
}
.form-area .form-input-side form button{
font-size: 20px;
margin-left: 2px;

}
.form-area{
  padding-bottom: 50px;
  
  
}

.form-area .form-input-side form i{
display: none;
}
}

.form-area .form-input-side form i{
color: #06196e;
font-size: 25px;
position: relative;
left: 160px;

}