.sb_card {
  width: 18rem;
  border: none;
  background-color: #fff5ee !important;
}
.sb_card:hover {
  background-color: #ffefe0 !important;
  box-shadow: 2px 4px 7px 0px #fff2e4;
}
section {
  min-height: 100vh;
}
